#backToTopButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	border-bottom: 0.3rem solid darken($lb-red, 10%);
	outline: none;
	background-color: $lb-red;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 10px;
	font-size: $m-size;
	font-family: $font-family-minimal;
}

#backToTopButton:hover {
	> .backToTopButton__text {
		display: inline;
	}
}

.backToTopButton__text {
	display: inline;
	margin-left: $s-size;
	display: none;
}
