#backToTopButton {
	display: none;
	position: fixed;
	bottom: $m-size;
	right: $m-size;
	z-index: 99;
	border: none;
	border-bottom: $red-bezel-effect;
	outline: none;
	background-color: $lb-red;
	color: white;
	cursor: pointer;
	padding: $xs-size $m-size;
	border-radius: $xs-size;
	font-size: $m-size;
	font-family: $font-family-edgy2;
}

#backToTopButton:hover {
	> .backToTopButton__text {
		display: inline;
	}
}

.backToTopButton__text {
	display: inline;
	margin-left: $s-size;
	display: none;

	letter-spacing: 2px;
	text-transform: uppercase;
}
