.container {
	margin: 0 auto;
	padding: 0 $gutter;
}

@media (max-width: 1350px) {
	.container {
		padding: 0 $gutter-xs;
	}
}

.container--black {
	background: black;
}

.container--red {
	background: $lb-red;
}

.container--transparent-fade {
	background-image: linear-gradient(
		to bottom,
		rgba(255, 0, 0, 0),
		rgba(0, 0, 0, 0.25) 25%,
		rgba(0, 0, 0, 0.5) 50%,
		rgba(0, 0, 0, 1) 75%
	);
}

.container--black-to-red-fade {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), $lb-red 75%);
}
