.footer {
	// background-color: $lb-red;
	background-color: #000000;
	font-family: sans-serif;
	text-align: center;
	color: white;
	font-size: $s-size;
}

.footer__content {
	padding: $xs-size 0;
}

.footer__author > a {
	color: white;
	&:hover {
		color: $lb-red;
	}
}
