.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: $xl-size;
}

.header__nav-toggle {
	display: none;
}

.header__nav-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;

	> a {
		user-select: none;

		&:hover {
			color: $lb-red;
			transform: scale(1.2);
		}

		color: white;
		font-family: $font-family-minimal;
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 2rem;
		text-decoration: none;
		padding-left: $s-size;
		&:not(:last-child) {
			padding-right: $m-size;
		}
	}
}

.header__logo-container {
	flex-grow: 1;
	margin-right: $xl-size;
}

.header__logo-container__logo {
	width: 20rem;
}

@media (max-width: $screen-size-wrap) {
	.header {
		flex-direction: column;
	}

	.header__logo-container {
		margin-bottom: $m-size;
		margin-right: 0;
	}

	.header__nav-container {
		flex-direction: column;
		width: 100%;
		display: none;

		> a {
			font-size: 3rem;
			padding: $s-size 0 0 0;
			&:not(:last-child) {
				padding-right: 0;
			}
			// border: 1px solid white;
			width: 100%;
		}
	}

	.header__nav-toggle {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;

		font-size: 3rem;
		color: white;
		font-family: $font-family-minimal;

		padding: $xs-size 0 $xs-size $xs-size;
	}

	.header__nav-container--toggle-show {
		display: flex;
		animation: scale-display 0.3s;
	}
	@keyframes scale-display {
		0% {
			opacity: 0;
			transform: scale(0);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}
