.social {
	// background-color: $un;
	padding: $m-size 0;
}
.social__icons-container {
	display: flex;
	justify-content: center;
	margin: 0.67rem;

	> a {
		color: black;
	}
}
.social__icons-container__icon {
	border: 5px solid black;
	border-radius: 100%;

	width: 64px;
	height: 64px;

	text-align: center;
	padding: $xs-size;
	margin: $xs-size;

	.fab {
		padding-top: 0.6rem;
	}
}

@media (max-width: $screen-size-wrap) {
	.social__icons-container__icon {
		width: 48px;
		height: 48px;

		.fab {
			font-size: 4rem !important;
			padding-top: 0.3rem;
		}
	}
}
