@import '../../styles/base/settings';

.media-content {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.media-content__video {
	min-width: 71.1rem;
	box-shadow: $box-shadow;
}

.media-content__album-cover {
	height: 48rem;
	width: 48rem;
	box-shadow: $box-shadow;
}
