@import '../../shared/styles/variables';

.media-content {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.media-content__video {
	min-width: 71.1rem;
	margin: 0 0 0 $gutter;
	box-shadow: $boxShadow;
}

.media-content__album-cover {
	height: 48rem;
	width: 48rem;
	box-shadow: $boxShadow;
	margin: 0 $gutter 0 0;
}
