@import '../../styles/base/settings';

.social {
	background-color: $lb-red;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.social__icons-container {
	display: flex;
	justify-content: center;
}
.social__icons-container__icon {
	padding: 1.5rem;
}
