@import '../../shared/styles/variables';

.social {
	background-color: $lbRed;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.social__icons-container {
	background-color: $lbRed;
	display: flex;
	justify-content: center;
}
.social__icons-container__icon {
	padding: 1.5rem;
}
