@import '../../shared/css/variables.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.header__logo {
		width: 200px;
		padding: 35px 50px 35px $gutter;
	}

	.header__nav-container {
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 $gutter 0 50px;
		width: 450px;
		a {
			&:hover {
				color: $lbRed;
			}
			color: white;
			font-family: 'Josefin Sans', Times, serif;
			font-size: 20px;
			text-decoration: none;
		}
	}
}
