@import '../../styles/base/settings';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5rem;
}

.header__nav-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 45rem;
}

.header__logo {
	width: 20rem;
}
