@import '../../shared/styles/variables';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 $gutter 0 5rem;
	width: 45rem;
	a {
		&:hover {
			color: $lbRed;
		}
		color: white;
		font-family: 'Josefin Sans', Times, serif;
		font-size: 2rem;
		text-decoration: none;
	}
}

.header__logo {
	width: 20rem;
	padding: 3.5rem 5rem 3.5rem $gutter;
}
