@import '../../shared/css/variables.scss';

.footer {
	// background-color: $lbRed;
	background-color: #000000;
	height: 50px;
	font-family: sans-serif;
	text-align: center;
	color: white;
	font-size: 14px;

	.footer__author {
		padding-top: 10px;
	}
}
