// Colors
$lb-red: #a51d21;

// Sizes
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$screen-size-wrap: 1300px;

// Misc
// $gutter: 27.5rem;
$gutter-xs: 5%;
$gutter-s: 10%;
$gutter: 15%;
$box-shadow: rgba(0, 0, 0, 0.75) 0 1.3rem 5.5rem 2.4rem;
